{%load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <header>
        <a href="/">Listar Eventos</a>
        <a href="/create_event">Criar Evento</a>
    </header>
    {%block content%}
    {%endblock%}
    <footer>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quae nobis sed vitae, distinctio in. Pariatur ut distinctio reiciendis officiis mollitia expedita tempore numquam, facilis vel, laborum, laudantium neque dolore?
    </footer>
</body>
</html>